.editor-container {
  grid-column: 2;
  background-color: #2a56bb;
  border: 2px solid rgb(0, 0, 0);
}

.editor-container > * {
  padding: 35px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.068)
}

.editor-container button {
  background-color: #eaeaea;
  cursor: pointer;
}

.editor-container button:hover {
  background-color: #447cff;
  color: white;
}

.line-edit button {
  margin-left: 1.5em;
  margin-top: 1em;
}

.emoji-edit {
  font-size: 27px;
}

.text-edit button {
  margin-left: 1.3em;
}

.share {
  padding: 49px;

}

.share a {
  background-color: #f0f0f0;
  color: black;
  border: 2px solid black;
  padding: 1px;
}

.share a:hover {
  background-color: #447cff;
  color: white;
}

.text {
  width: 12em;
  height: 2.5em;
}

input[type='file'] {
  color: transparent;
  width: 80px;
}


.clr-picker {
  margin-left: 15px;
  height: 33px;
}