.font-size-btn {
  width: 40px;
  height: 35px;
}

.flex-btn {
  width: 5em;
  height: 4em;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #1d3d86;
  color: white;
  cursor: pointer;
}

.flex-btn:hover {
  background-color: #305dc5;
}

.emoji {
  width: 3em;
  height: 3em;
  font-size: 1em;
  width: 1.8em;
  height: 1.8em;
}
